.item-list{
max-width: 100%;
background-clip:
border-box
;
background-color:
rgb(249, 249, 249)
;
background-image:
none
;
background-origin:
padding-box
;
background-position-x:
0%
;
background-position-y:
0%
;
background-repeat-x:
initial
;
background-repeat-y:
initial
;
background-size:
auto
;
box-shadow:
rgb(204, 204, 204) 0px 0px 8.4px 0px
;
box-sizing:
border-box
;
color:
rgb(51, 122, 183)
;
cursor:
pointer
;
display:
list-item
;
font-family:
"Open Sans", sans-serif
;
font-size:
14px
;
font-weight:
400
;
height: auto;
min-height:
158.333px
;
line-height:
20px
;
list-style-type:
none
;
margin: 0 auto 30px auto;
;
padding-bottom:
50px
;
padding-left:
20px
;
padding-right:
20px
;
padding-top:
20px
;
text-align:
left
;
text-size-adjust:
100%
;
transition-delay:
0s
;
transition-duration:
0.5s
;
transition-property:
all
;
transition-timing-function:
ease
;
width:
768px
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;

}
.item-list img {
	;
border-bottom-color:
rgb(209, 224, 238)
;
border-bottom-style:
solid
;
border-bottom-width:
1px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(209, 224, 238)
;
border-left-style:
solid
;
border-left-width:
1px
;
border-right-color:
rgb(209, 224, 238)
;
border-right-style:
solid
;
border-right-width:
1px
;
border-top-color:
rgb(209, 224, 238)
;
border-top-style:
solid
;
border-top-width:
1px
;
box-sizing:
border-box
;
color:
rgb(51, 122, 183)
;
cursor:
pointer
;
display:
block
;
float:
left
;
font-family:
"Open Sans", sans-serif
;
font-size:
14px
;
font-weight:
400
;
height:
auto
;
line-height:
20px
;
list-style-type:
none
;
margin-right:
0px
;
max-width:
100%
;
padding-bottom:
0px
;
padding-left:
0px
;
padding-right:
0px
;
padding-top:
0px
;
text-align:
left
;
text-size-adjust:
100%
;
vertical-align:
middle
;
width:
20%
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;

}

.item-list .list-left{
	box-sizing:
border-box
;
color:
rgb(51, 122, 183)
;
cursor:
pointer
;
display:
block
;
float:
left
;
font-family:
"Open Sans", sans-serif
;
font-size:
14px
;
font-weight:
400
;
height:
118.333px
;
line-height:
20px
;
list-style-type:
none
;
margin-left:
21.8333px
;
text-align:
left
;
text-size-adjust:
100%
;
width:
60%;
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
}

.item-list .list-right{
	box-sizing:
border-box
;
color:
rgb(51, 122, 183)
;
cursor:
pointer
;
display:
block
;
float:
right
;
font-family:
"Open Sans", sans-serif
;
font-size:
14px
;
font-weight:
400
;
height:
60px
;
line-height:
20px
;
list-style-type:
none
;
text-align:
right
;
text-size-adjust:
100%
;
width:
15%
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
}
.item-list .adprice{ ;
color:
rgba(1, 161, 133, 0.57)
;
cursor:
pointer
;
display:
block
;
font-family:
"Open Sans", sans-serif
;
font-size:
22px
;
font-weight:
400
;
height:
31.3333px
;
line-height:
31.4286px
;
list-style-type:
none
;
margin-bottom:
0px
;
margin-left:
0px
;
margin-right:
0px
;
margin-top:
10px
;
text-align:
left
;
text-size-adjust:
100%
;
width:
436.792px
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
; }

.not-verified{ color: red; }
.verified { color: green; }
.rotate { transform: rotate(-180deg);}
.fa-caret-down {transition: transform 0.2s ease;}